@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap");

:root {
  --primary: #0a285f;
  --secondary: #0075be;
  --tertiary: #1348ab;

  --transparent: #0075bece;

  --text: #ffcc00;
  --textShadow: #61892f;

  /* font-family: "DotGothic16", sans-serif; */

  font-family: "Press Start 2P", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--primary);
}

body {
  color: var(--text);
  font-size: 1.6rem;
  background-color: var(--primary);
  overflow: hidden;
}

/*******************************/
/*    ****    LOGIN    ****    */
/*******************************/

.login-div {
  width: 100%;
  height: 100vh;

  background-image: url("../unbenannt.png");
  background-size: 200%;
  background-position: left;

  animation: backgroundanimation 60s linear infinite alternate both;
}

@keyframes backgroundanimation {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

.login-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
}

.login-overlay > h1 {
  font-size: 5rem;
  padding-top: 5rem;
  text-align: center;
}

.login-contentdiv {
  width: 30%;
  height: 40%;
  background-color: var(--primary);
  border-radius: 0.25rem;
  border: 2px solid var(--text);

  margin: 0 auto;
  margin-top: 10%;

  padding: 2rem;
}

.login-togglediv {
  display: flex;
  justify-content: center;
}

.login-mode-button {
  color: var(--text);
  background-color: transparent;
  border: 0 solid var(--text);

  width: 25rem;

  font-family: "Press Start 2P";
  font-size: 2rem;

  padding-bottom: 1rem;
  margin: 0 2rem;
  margin-bottom: 1rem;

  cursor: pointer;
  transition: 100ms;
}

.loginmode {
  border-bottom: 2px solid var(--text);
}

.login-mode-button:hover {
  letter-spacing: 0.5rem;
}

.login-mode-button:active {
  letter-spacing: 0.3rem;
}

.login-input {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.login-element {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--text);
  background-color: var(--tertiary);
  color: var(--text);
  font-size: 1.75rem;
  font-family: "DotGothic16";
  letter-spacing: 0.2rem;
}

.login-button {
  cursor: pointer;
  transition: 100ms;
}

.login-button:hover {
  background-color: #0a285f;
  letter-spacing: 0.5rem;
}

.login-button:active {
  letter-spacing: 0.3rem;
}

/******************************/
/*    ****    GAME    ****    */
/******************************/

.main-game-div {
  width: 100%;
  height: 95vh;

  position: relative;

  display: flex;
}

.game-div {
  /* background-image: url("../unbenannt.png"); */
  background-size: 350%;
  background-position-x: 0;
  background-position-y: 99%;
  filter: contrast(1.25);

  width: 95%;
  max-height: 95%;
  margin: auto;
  margin-top: 1%;

  border-radius: 0.5rem;

  overflow: hidden;
}

.game-div > canvas {
  width: 100%;
  margin-top: -15%;
}

.game-overlay {
  width: 99%;
  height: 99%;

  position: absolute;
  top: 0;
  left: 0.5%;

  color: var(--text);
}

.inv-btn {
  font-size: 7rem;
  margin: 1rem 0;
  transition: 100ms;
  cursor: pointer;
  position: absolute;
  z-index: 11;
}

.inv-btn:hover {
  transform: scale(1.2);
}

.inventar-div {
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  z-index: 10;
  left: -1rem;
  right: -1rem;
  top: 0;
  bottom: -1rem;
}

.inv-content-div {
  width: 80%;
  margin: auto;

  height: 100%;
  padding: 3rem;

  background-color: var(--primary);

  border-radius: 0.2rem;
  overflow: hidden;
}

.inv-items {
  background-color: red;

  height: 15rem;

  border-radius: 0.2rem 0.2rem 0 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inv-items > div {
  text-align: center;
}

.inv-items > div > img {
  height: 5rem;
}

.inv-pokemon {
  background-color: var(--tertiary);

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 2rem;
  min-height: 83%;

  border-radius: 0 0 0.2rem 0.2rem;
}

.inv-pokemon > div {
  background-color: var(--secondary);

  padding: 2rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid var(--text);
  border-radius: 0.2rem;
}

.inv-pokemon > div > img {
  height: 10rem;
  margin: 1rem;
}

.inv-pokemon > div > button {
  border: 2px solid var(--text);
  border-radius: 0.2rem;
  background-color: var(--tertiary);
  color: var(--text);
  font-family: "Press Start 2P";
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: 100ms;
  width: 20rem;
}

.inv-pokemon > div > button:hover {
  letter-spacing: 0.2rem;
  background-color: var(--secondary);
}

.username {
  text-shadow: 1px 1px 2px black;
  padding-right: 1rem;
}

.menu-div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 1rem;

  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.information-div,
.friends-div {
  background-color: var(--secondary);
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary);

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.friends-count {
  font-size: smaller;
  color: lightgreen;
}

.menu-btn {
  font-size: 2.5rem;
  transition: 100ms;
  cursor: pointer;
}

.menu-btn:hover {
  transform: scale(1.2);
}

.money {
  display: flex;
  align-items: center;
}

.money-symbole {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.map-btn {
  font-size: 7rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 11;
  cursor: pointer;
  transition: 100ms;
}

.map-btn:hover {
  transform: scale(1.2);
}

.game-map-div {
  background-color: rgba(0, 0, 0, 0.712);
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
}

.game-map {
  display: block;
  height: 100%;
  margin: auto;
}

.game-menu-div {
  background-color: rgba(0, 0, 0, 0.75);

  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 12;
}

.game-menu-content {
  background-color: var(--primary);
  width: 25%;
  height: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0.25rem;

  padding: 2rem;
  margin: auto;
  margin-top: 10%;
}

.game-menu-content > h1 {
  padding: 2rem;
}

.game-menu-content > h2 {
  padding: 1rem;
  padding-bottom: 4rem;
}

.game-menu-content > button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--text);
  background-color: var(--tertiary);
  color: var(--text);
  font-size: 1.75rem;
  font-family: "DotGothic16";
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 100ms;

  width: 80%;
}

.game-menu-content > button:hover {
  background-color: #0a285f;
  letter-spacing: 0.5rem;
}

.game-menu-content > button:active {
  letter-spacing: 0.3rem;
}

.arena-figth-div {
  position: absolute;
  top: -0rem;
  left: -1rem;
  right: -1rem;
  bottom: -1rem;
  z-index: 15;

  padding: 2rem;

  background-color: rgba(0, 0, 0, 0.938);
}

.choosePokemon {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  overflow-y: auto;

  align-items: center;
  justify-content: center;
}

.choosePokemon-card {
  background-color: var(--secondary);
  width: 15%;
  height: 50rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;

  font-size: 1.25rem;
  letter-spacing: 0.1rem;

  cursor: pointer;

  transition: 100ms;

  opacity: 0.75;
}

.choosePokemon-card:hover {
  transform: scale(1.025);
  opacity: 1;
}

.choosePokemon-card > img {
  width: 60%;
  margin: 2rem 0;
  background-color: var(--primary);
  border-radius: 2rem;
  padding: 1rem;
}

.choosePokemon-card > h1 {
  margin: 1rem 0;
}

.arenainFight-main {
  width: 100%;
  height: 100%;

  background-color: tomato;
}

.countOverlay {
  background-color: black;
  color: var(--text);
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.fight-div {
  background-image: url("../fightBG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  height: 100%;

  margin: auto;
  padding: 10rem 0;
}

.enemy-div {
  position: absolute;
  bottom: 43%;
  right: 5%;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 9rem;
}

.enemy-div > img {
  height: 25rem;
}

.enemy-div > div {
  align-self: center;
  background-color: var(--secondary);
  padding: 2rem;
  border: 2px solid var(--text);
  width: 40rem;
}

.user-div {
  position: absolute;
  bottom: 4%;
  left: 20%;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.user-div > img {
  height: 25rem;
  margin-right: 40rem;
}

.user-div > div {
  background-color: var(--secondary);
  padding: 1rem;
  border: 2px solid var(--text);
  width: 40rem;
  height: 15rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions-div {
  height: 5rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
}

.actions-div > button {
  background-color: var(--tertiary);
  border: 2px solid var(--text);
  border-radius: 0.2rem;

  width: 24rem;
  margin: 0.5rem;
  padding: 0.5rem;

  color: var(--text);
  font-family: "Press Start 2P";

  transition: 100ms;
  cursor: pointer;
}

.actions-div > button:hover {
  letter-spacing: 0.5rem;
  background-color: var(--secondary);
}

/******************************/
/*    ****    CHAT    ****    */
/******************************/

.chat-main-div {
  position: absolute;
  bottom: 0rem;
  left: 0rem;

  background-color: var(--transparent);
  width: 40%;
  min-width: 40rem;
  height: 40%;
  padding: 1rem;

  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-messages-div {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 2px;
  padding-bottom: 5px;

  overflow-y: auto;
}

.chat-message {
  display: grid;
  grid-template-columns: 5rem 1fr;
  justify-content: left;
  align-items: center;
  column-gap: 0px;

  font-size: 1.25rem;
  /* margin: 0.5rem 0; */
}
.chat-message:hover {
  background-color: var(--secondary);
}
.chat-message-text {
  display: flex;
}

.chat-message-user {
  margin-top: 3px;
  padding-right: 3px;
  font-size: 6pt;
  vertical-align: sub;
  font-style: italic;
  color: greenyellow;
}

.chat-message-content {
  margin-left: 0.5rem;
}

.chat-userinput {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.chat-userinput-input {
  /* margin: 1rem 0; */
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--text);
  background-color: var(--tertiary);
  color: var(--text);
  font-size: 1.25rem;
  font-family: "Press Start 2P";
  flex-grow: 1;
}

.chat-userinput-button {
  cursor: pointer;
  transition: 100ms;
  width: 10rem;
}

.chat-userinput-button:hover {
  background-color: #0a285f;
  letter-spacing: 0.5rem;
}

.chat-userinput-button:active {
  letter-spacing: 0.3rem;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #ffcc0048;
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover {  
  background: var(--text);
} 

/* .area {
  background: white;
  height: 250px;
  overflow: auto;
}

.ss-wrapper {
    overflow : hidden;
    height   : 100%;
    position : relative;
    z-index  : 1;
    float: left;
}

.ss-content {
    height          : 100%;
    width           : 100%;
    padding         : 0 32px 0 0;
    position        : relative;
    right           : -18px;
    overflow        : auto;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
}

.ss-scroll {
  position            : relative;
  background          : rgba(0, 0, 0, .1);
  width               : 9px;
  border-radius       : 4px;
  top                 : 0;
  z-index             : 2;
  cursor              : pointer;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.ss-container:hover .ss-scroll {
  opacity: 1;
}

.ss-grabbed {
     user-select: none;
     -o-user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
} */